@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

.yellow {
  background-color: #ceb02c;
}

.gray {
  background-color: #939b9f;
}

.empty-key {
  background-color: #939b9f4d;
}

.bar-light-x {
  background-color: rgba(218, 220, 224, 0.03);
}

.text-xs {
  font-size: 10px;
}
